<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proto-Identification</title>
</head>
<body>
<h2>{{test_var}}</h2>

<form action="http://localhost:5000/uploader"
      method="POST"
      enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit"/>
</form>

<!--Select Box-->
<div class="custom-select" style="width:200px;">
    <h3>请选择算法</h3>
    <label>
        <select>
          <option value="1">决策树</option>
          <option value="2">SVM</option>
        </select>
    </label>
</div>

<h3>{{output}}</h3>

</body>
</html>