<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proto-Identification</title>
</head>
<body>
<h2>{{test_var}}</h2>

<div>
    <h3>请选择pcap文件上传</h3>
    <form action="http://localhost:5000/uploader"
          method="POST"
          enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit" value="提交"/>
    </form>
</div>

<!--Select Box-->
<div class="custom-select" style="width:200px;">
    <h3>请选择算法</h3>
    <label>
        <select>
            <option value="1">决策树</option>
            <option value="2">SVM</option>
        </select>
    </label>
    <a href="http://localhost:5000/predict">开始识别</a>
</div>

<div>
    <h3>判断结果</h3>
    <h3>{{proto_dict}}</h3>
    <h3>{{file_name}}</h3>
    <h3>{{output}}</h3>
</div>

</body>
</html>